{% extends "base.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/MARS-2-7.png') }}">Аварийноый доступ</h1>
<form>
    {{ form.hidden_tag() }}
    <p>
        {{ form.astronaut_id.label }}<br>
        {{ form.astronaut_id(class="form-control") }}<br>
        {% for error in form.astronaut_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.astronaut_password.label }}<br>
        {{ form.astronaut_password(class="form-control", type="password") }}<br>
        {% for error in form.astronaut_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.captain_id.label }}<br>
        {{ form.captain_id(class="form-control") }}<br>
        {% for error in form.captain_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.captain_password.label }}<br>
        {{ form.captain_password(class="form-control", type="password") }}<br>
        {% for error in form.captain_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}